#include "src\resource.h"

IDR_OPENOCD_EXE RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\openocd.exe"
IDR_CH347_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\ch347.cfg"
IDR_LIBUSB_DLL RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\libusb-1.0.dll"
IDR_LIBHIDAPI_DLL RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\libhidapi-0.dll"
IDR_XILINX_DNA_347_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-dna-347.cfg"
IDR_XILINX_XC7_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-xc7.cfg"
IDR_JTAGSPI_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\jtagspi.cfg"
IDR_XILINX_DNA_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-dna.cfg"

// CH341/CH347 Driver Files
IDR_CH341_INF RCDATA "tools\\ch347\\drivers\\CH341WDM.INF"
IDR_CH341_SYS RCDATA "tools\\ch347\\drivers\\CH341WDM.SYS"
IDR_CH341_M64_SYS RCDATA "tools\\ch347\\drivers\\CH341M64.SYS"
IDR_CH341_W64_SYS RCDATA "tools\\ch347\\drivers\\CH341W64.SYS"
IDR_CH341_CAT RCDATA "tools\\ch347\\drivers\\CH341WDM.CAT"
IDR_CH341_DLL RCDATA "tools\\ch347\\drivers\\CH341DLL.DLL"
IDR_CH341_DLL_A64 RCDATA "tools\\ch347\\drivers\\CH341DLLA64.DLL"
IDR_CH347_DLL RCDATA "tools\\ch347\\drivers\\CH347DLL.DLL"
IDR_CH347_DLL_A64 RCDATA "tools\\ch347\\drivers\\CH347DLLA64.DLL"

// FT601 Driver Files
IDR_FT601_INF RCDATA "dmafiles\\Winusb_D3XX_Release_1.4.0.1\\WU_FTD3XX_Driver\\FTD3XXWU.Inf"
IDR_FT601_CAT RCDATA "dmafiles\\Winusb_D3XX_Release_1.4.0.1\\WU_FTD3XX_Driver\\FTD3XXWU.cat"

// PCILeech Files for Benchmark Tests
IDR_PCILEECH_EXE RCDATA "dmafiles\\pcileech\\pcileech.exe"
IDR_LEECHCORE_DLL RCDATA "dmafiles\\pcileech\\leechcore.dll"
IDR_FTD3XX_DLL RCDATA "dmafiles\\pcileech\\FTD3XX.dll"
IDR_VMM_DLL RCDATA "dmafiles\\pcileech\\vmm.dll"
IDR_DBGHELP_DLL RCDATA "dmafiles\\pcileech\\dbghelp.dll"
/////////////////////////////////////////////////////////////////////////////
//

// BSCAN Bitstreams for FPGA Flash Programming
//
IDR_BSCAN_XC7A100T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a100t.bit"
IDR_BSCAN_XC7A75T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a75t.bit"
IDR_BSCAN_XC7A35T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a35t.bit"
IDR_BSCAN_XC7A200T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a200t.bit"
IDR_BSCAN_XC7A50T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a50t.bit"

