#include "src\resource.h"

// Application Icon
IDI_MAINICON ICON "icon\\app_icon.ico"

IDR_OPENOCD_EXE RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\openocd.exe"
IDR_OPENOCD_347_EXE RCDATA "tools\\openocd\\openocd-347.exe"
IDR_OPENOCD_FTDI_EXE RCDATA "tools\\openocd\\openocd_ftdi.exe"
IDR_CH347_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\ch347.cfg"
IDR_LIBUSB_DLL RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\libusb-1.0.dll"
IDR_LIBHIDAPI_DLL RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\libhidapi-0.dll"
IDR_XILINX_DNA_347_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-dna-347.cfg"
IDR_XILINX_XC7_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-xc7.cfg"
IDR_JTAGSPI_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\jtagspi.cfg"
IDR_XILINX_DNA_CFG RCDATA "dmafiles\\CH347FPGATool\\OpenOCD_CH347\\bin\\xilinx-dna.cfg"
IDR_INIT_232_35T_CFG RCDATA "tools\\openocd\\init_232_35t.cfg"
IDR_INIT_232_75T_CFG RCDATA "tools\\openocd\\init_232_75t.cfg"

// CH341/CH347 Driver Files
IDR_CH341_INF RCDATA "tools\\ch347\\drivers\\CH341WDM.INF"
IDR_CH341_SYS RCDATA "tools\\ch347\\drivers\\CH341WDM.SYS"
IDR_CH341_M64_SYS RCDATA "tools\\ch347\\drivers\\CH341M64.SYS"
IDR_CH341_W64_SYS RCDATA "tools\\ch347\\drivers\\CH341W64.SYS"
IDR_CH341_CAT RCDATA "tools\\ch347\\drivers\\CH341WDM.CAT"
IDR_CH341_DLL RCDATA "tools\\ch347\\drivers\\CH341DLL.DLL"
IDR_CH341_DLL_A64 RCDATA "tools\\ch347\\drivers\\CH341DLLA64.DLL"
IDR_CH347_DLL RCDATA "tools\\ch347\\drivers\\CH347DLL.DLL"
IDR_CH347_DLL_A64 RCDATA "tools\\ch347\\drivers\\CH347DLLA64.DLL"

// FT601 Driver Files
IDR_FT601_INF RCDATA "dmafiles\\Winusb_D3XX_Release_1.4.0.1\\WU_FTD3XX_Driver\\FTD3XXWU.Inf"
IDR_FT601_CAT RCDATA "dmafiles\\Winusb_D3XX_Release_1.4.0.1\\WU_FTD3XX_Driver\\FTD3XXWU.cat"

// RS232 (35T) WinUSB Driver Files  
IDR_RS232_WINUSB_INF RCDATA "tools\\FTDI_RS232_Driver\\WinUSB_Driver\\quad_rs232-hs_(interface_0).inf"
IDR_RS232_WINUSB_CAT RCDATA "tools\\FTDI_RS232_Driver\\WinUSB_Driver\\Quad_RS232-HS_(Interface_0).cat"
IDR_RS232_WINUSB_COINSTALLER RCDATA "tools\\FTDI_RS232_Driver\\WinUSB_Driver\\WinUSBCoInstaller2.dll"
IDR_RS232_WDF_COINSTALLER RCDATA "tools\\FTDI_RS232_Driver\\WinUSB_Driver\\WdfCoInstaller01011.dll"

// RS232 (35T) FTDIBUS Driver Files (for reverting)
IDR_RS232_FTDIBUS_INF RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftdibus.inf"
IDR_RS232_FTDIBUS_CAT RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftdibus.cat"
IDR_RS232_FTDIBUS_SYS RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftdibus.sys"
IDR_RS232_FTSER2K_SYS RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftser2k.sys"
IDR_RS232_FTBUSUI_DLL RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftbusui.dll"
IDR_RS232_FTD2XX_DLL RCDATA "tools\\FTDI_RS232_Driver\\FTDIBUS_Driver\\ftd2xx.dll"

// PCILeech Files for Benchmark Tests (embedded from tools\PCILeech)
IDR_PCILEECH_EXE RCDATA "tools\\PCILeech\\pcileech.exe"
IDR_LEECHCORE_DLL RCDATA "tools\\PCILeech\\leechcore.dll"
IDR_FTD3XX_DLL RCDATA "tools\\PCILeech\\FTD3XX.dll"
IDR_VMM_DLL RCDATA "tools\\PCILeech\\vmm.dll"
IDR_DBGHELP_DLL RCDATA "tools\\PCILeech\\dbghelp.dll"
IDR_VCRUNTIME140_DLL RCDATA "tools\\PCILeech\\vcruntime140.dll"
IDR_LEECHCORE_DRIVER RCDATA "tools\\PCILeech\\leechcore_driver.dll"
IDR_LEECHCORE_DEVICE_HVSAVED RCDATA "tools\\PCILeech\\leechcore_device_hvsavedstate.dll"
IDR_LEECHCORE_DEVICE_RAWTCP RCDATA "tools\\PCILeech\\leechcore_device_rawtcp.dll"
IDR_SYMSRV_DLL RCDATA "tools\\PCILeech\\symsrv.dll"
IDR_VMMYARA_DLL RCDATA "tools\\PCILeech\\vmmyara.dll"
IDR_FTD3XXWU_DLL RCDATA "tools\\PCILeech\\FTD3XXWU.dll"


/////////////////////////////////////////////////////////////////////////////
//

// BSCAN Bitstreams for FPGA Flash Programming
//
IDR_BSCAN_XC7A100T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a100t.bit"
IDR_BSCAN_XC7A75T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a75t.bit"
IDR_BSCAN_XC7A35T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a35t.bit"
IDR_BSCAN_XC7A200T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a200t.bit"
IDR_BSCAN_XC7A50T                RCDATA                  ".\\dmafiles\\CH347FPGATool\\OpenOCD_CH347\\share\\openocd\\scripts\\cpld\\xilinx\\bscan_spi_xc7a50t.bit"

